
# Agent package config
# Can be GigaChat, Yandex or empty (for langchain openai configuration)
LLM_PROVIDER="GigaChat"

LLM_AGENT_MODEL="GigaChat-2-Max"
LLM_TAG_MODEL="GigaChat-2-Max"
EMBED_QUERY_MODEL="Embeddings"
EMBED_DOC_MODEL="Embeddings"

GIGACHAT_BASE_URL=
GIGACHAT_USER=
GIGACHAT_PASSWORD=

# YANDEX_API_KEY=
# YANDEX_FOLDER_ID=

# If u want to use generative search
# YANDEX_IAM_TOKEN= 


QDRANT_URL="https://localhost:6333"
QDRANT_API_KEY="EMPTY"


#BOT config
LLM_PROFILE_MODEL="GigaChat-2-Max"
TG_API_TOKEN=''

# Can be "Yandex" or "OpenAI" (OpenAI-compatible transcription API)
SPEECH_PROVIDER="OpenAI"
SPEECH_URL="https://foundation-models.api.cloud.ru/v1/audio/transcriptions"
SPEECH_API_KEY=
SPEECH_MODEL="openai/whisper-large-v3"
SPEECH_RESPONSE_FORMAT="text"
SPEECH_TEMPERATURE="0.5"
SPEECH_LANGUAGE="ru"

# YANDEX_API_KEY=
# YANDEX_FOLDER_ID=
